<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <center>NAVER</center>

    <div align="right">
        <form method="post" action="{% url 'login' %}">
            <!-- <form method="get" action="{% url 'login' %}"> -->

        {% csrf_token %}

            <label>아이디<input type="text" name="id" />
            <label>패스워드<input type="password" name="pwd" />
            <input type="submit" value="LOGIN">
        </form>
    </div>
</body>
</html>